---
title: Styleguide
---

<main class="o-page__content o-wrap o-wrap--large" role="main">
	<ol>
		<li id="typography" class="o-section">
			<section>
				<header>
					<h1>Typography</h1>
				</header>
				
				<div>
					{{#each typography.headings}}
						<h1 class="u-{{name}}">{{{name}}}</h1>
					{{/each}}
				</div>
				<hr>
				<h5>Paragraph</h5>
				{{{typography.paragraph}}}

				<h5>Unordered List</h5>
				<ul>
					{{#each typography.unordered-list}}
						<li>
							{{item}}
							{{#if child-unordered-list}}
								<ul>
									{{#each child-unordered-list}}
										<li>{{item}}</li>
									{{/each}}
								</ul>
							{{/if}}
						</li>
					{{/each}}
				</ul>

				<h5>Ordered List</h5>
				<ol>
					{{#each typography.ordered-list}}
						<li>
							{{item}}
							{{#if child-ordered-list}}
								<ol>
									{{#each child-ordered-list}}
										<li>{{item}}</li>
									{{/each}}
								</ol>
							{{/if}}
						</li>
					{{/each}}
				</ol>
				
				<h5>Blockquote</h5>
				{{> blockquote typography.blockquote }}
			</section>
		</li>

		<li id="buttons" class="o-section">
			<section>
				<header>
					<h1>Buttons</h1>
				</header>

				<div class="o-col--three u-clearfix">
					<div class="o-col">
						<h5>Primary Button</h5>

						<div class="o-form__field">
							<button class="c-button c-button--primary">Button</button>
						</div>
					</div>

					<div class="o-col">
						<h5>Secondary Button</h5>

						<div class="o-form__field">
							<button class="c-button c-button--secondary">Button</button>
						</div>
					</div>

					<div class="o-col">
						<h5>Disabled Button</h5>

						<div class="o-form__field">
							<button class="c-button is-disabled" disabled="disabled">Button</button>
						</div>
					</div>
				</div>
			</section>
		</li>

		<li id="tables" class="o-section">
			<section>
				<header>
					<h1>Tables <em><small>These are different in mobile view</small></em></h1>
				</header>

				<div>
					<h5>Scroll Table</h5>

					{{> table table.table-scroll }}
				</div>

				<div>
					<h5>Stacked Table</h5>

					{{> table table.table-stacked }}
				</div>
			</section>
		</li>

		<li id="forms" class="o-section">
			<section>
				<header>
					<h1>Forms</h1>
				</header>

				<div>
					<div>
						<h5>Default Inputs</h5>
						{{> input forms.input }}
						{{> select forms.select }}
						{{> textarea forms.textarea }}
						{{> checkbox forms.checkbox }}
						{{> radio forms.radio }}
					</div>

					<div>
						<h5>Disabled Inputs</h5>
						{{> input forms.input-disabled }}
						{{> select forms.select-disabled }}
						{{> textarea forms.textarea-disabled }}
						{{> checkbox forms.checkbox-disabled }}
						{{> radio forms.radio-disabled }}
					</div>
				</div>

				<div>
					<div>
						<h5>Valid Inputs</h5>
						{{> input forms.input-valid }}
						{{> select forms.select-valid }}
						{{> textarea forms.textarea-valid }}
					</div>

					<div>
						<h5>Invalid Inputs</h5>
						{{> input forms.input-invalid }}
						{{> select forms.select-invalid }}
						{{> textarea forms.textarea-invalid }}
					</div>
				</div>
			</section>
		</li>
	</ol>
</main>